
<div class="instructions" style="font-weight: bold;">Radix Connect</div>
<div class="instructions" style="text-wrap: auto;">Make sure your persona label/nickname is your username</div>
<radix-connect-button />